*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/pexels-photo-177598.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
